

body {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  --size: 80px; /* control the size */
  --color: #fdfbed;

  --l: var(--color) 20%, #0000 0;
  --bg: 35%, #435a6b 0 45%, var(--color) 0;
  background: linear-gradient(45deg, var(--l) 45%, var(--color) 0 70%, #0000 0),
    linear-gradient(-45deg, var(--l) var(--bg) 70%, #0000 0),
    linear-gradient(45deg, var(--color) var(--bg));
  background-size: var(--size) var(--size);
}

.App, h2 {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.staatliches-regular {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
}

.App {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
h1, h2 {
  text-transform: uppercase;
  font-family: "Montserrat";
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-size: 250%;
}
.subDiv{
  width: 100%;
  display: flex;
  justify-content: center;
}
